*{
    margin: 0;
    padding: 0;
}
  
.container{
    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 70px;
}
.mainp{
    display: grid;

    padding-top: 40px;
    justify-content: center;
    height: 80vh;
    width: 600px;
    background: rgb(203, 113, 113);
    box-shadow: 20px 20px 20px 0 solid cornflowerblue;
}
.mainp img {
    border-radius: 250px;
}
.topbar{
    padding: 22px 0 0 25px;
       flex-direction: row;
       text-align: center;
       gap: 85vw;
       display: flex;
   }
   p{
    font-size: 40px;
    color: aliceblue;
   }
   .signin{
       display: inline-flexbox;
       padding-top: 15px;
       width: 100px;
       height: 50px;
   }
   .logo{
       display: inline-block;
   }
   .signin a{
   text-decoration: none;
       font-size: 20px;
       color:  rgb(203, 113, 113);
   }
   .logo a{
       text-decoration: none;
       color:  rgb(203, 113, 113);
       font-size: 30px;
   
   }
   .info{
    margin-top: -150px;
   }